#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor and go temporary files & folders
.swp
vendor
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.DS_Store
bin
coverage.txt
.build

node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

cmd/user-agent/web/dist
cmd/user-agent/dist
test/bdd/fixtures/db
test/bdd/fixtures/keys/tls
test/bdd/fixtures/agent-wasm/config/
test/bdd/fixtures/discovery-server/config
test/bdd/fixtures/stakeholder-server/config
cmd/user-agent/public/aries-framework-go/
cmd/user-agent/public/trustbloc-agent/
wasm_exec.js
