#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor and go temporary files & folders
.swp
vendor
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.DS_Store
bin
coverage.out
.build

node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docker-compose.log

cmd/wallet-web/web/dist
cmd/wallet-web/dist
test/bdd/fixtures/db
test/bdd/fixtures/keys/tls
test/bdd/fixtures/wallet-web/config/
test/bdd/fixtures/user-agent/config
cmd/wallet-web/public/agent-js-worker/
wasm_exec.js
