/*
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
*/

.cardBody {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    padding: 5px;
}

.cardDetailsL {
    float: left;
    width: 40%;
}

.cardDetailsR {
    float: left;
    width: 60%;
}

.cardDetailsR p {
    margin-bottom: 2px;
    color: rgba(0,0,0,.54);
}

.cardDetailsL i {
    font-size: 80px !important;
    padding-top: 40px;
    padding-left: 50px;
}