<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Demo Issuer</title>
    <script type="text/javascript">
      function submitAction( action ){
        document.getElementById("waci-issuance-form").action = action
      }
    </script>
  </head>

  <body>
    <h1>WACI Issuance Demo</h1>

    <form action="" id="waci-issuance-form">
      <label>Wallet URL</label><br />
      <input
        type="text"
        id="walletURL"
        name="walletURL"
        value="https://wallet.trustbloc.local:8091"
        size="50"
      />
      <br />
      <br />
      <input type="submit" id="waci-issuance-demo" value="Demo (DIDComm v1)" onclick="javascript:submitAction('/issuer/waci-issuance')" />
      <input type="submit" id="waci-issuance-demo-v2" value="Demo (DIDComm v2)" onclick="javascript:submitAction('/issuer/waci-issuance-v2')" />
    </form>

    <br />
    <br />

    <b>{{.Msg}} </b>
  </body>
</html>
