<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Demo Verifier</title>
    <script type="text/javascript">
      function submitAction( action ){
        document.getElementById("oidc-share-form").action = action
      }
    </script>
  </head>

  <body>
    <h1>OIDC Share Demo</h1>

    <form action="" id="oidc-share-form">
      <label>Wallet URL</label><br />
      <input
        type="text"
        id="walletURL"
        name="walletURL"
        value="https://wallet.trustbloc.local:8091"
        size="50"
      />
      <br />
      <br />

      <p> TODO: Pending implementation </p>
    </form>

    <br />
    <br />

    <b>{{.Msg}} </b>
  </body>
</html>
