<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Demo Verifier</title>
  </head>

  <body>
    <h1>Demo Verifier</h1>

    <h3>Please click below links to test different verification flows</h3>

    <ul>
      <li id="waci"><a href="/verifier/waci">Wallet and Credential Interaction (WACI)</a></li>
      <li id="oidc">
        <a href="/verifier/oidc">OpenID Connect for Verifiable Presentation (OIDC4VP)</a>
      </li>
      <li id="openid4vc">
        <a href="/verifier/openid4vc">OpenID Connect for Verifiable Credentials (OpenID4VC)</a>
      </li>
      <li id="chapi"><a href="/web-wallet">Credential Handler API (CHAPI)</a></li>
    </ul>
  </body>
</html>
