<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <link rel="icon" type="images/x-icon" href="img/logo.png" />
    <title>Login Page</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link href="css/tailwind.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />

    <style>
      .gradient {
        background: linear-gradient(-180deg, #8631a0 0%, #360b4c 100%);
      }
      .inputColor {
        background-color: #eeeaee;
      }
    </style>
  </head>

  <body
    onload="setRandomEmail();"
    class="leading-normal tracking-normal"
    style="background-color: #f4f1f5"
  >
    <section class="py-48">
      <p class="text-neutrals-black text-2xl text-center font-bold">Demo Sign In</p>
      <div class="container mx-auto h-auto lg:w-1/3 w-full">
        <div class="mt-auto rounded-b rounded-t-none overflow-hidden">
          <div class="p-14">
            <form
              class="flex flex-col bg-neutrals-white shadow-xl rounded-xl lg:px-11 sm:px-11 px-4 pt-8 md:flex-wrap md:justify-between h-auto"
              id="login_form"
              method="post"
            >
              <input type="hidden" name="challenge" value="{{.login_challenge}}" />

              <div
                class="mb-4 py-2 px-4 rounded-t-lg inputColor border-b-2 border-neutrals-mountainMist-dark lg:text-sm text-xs"
              >
                <label class="block text-neutrals-dark font-bold mb-2 text-left" for="email">
                  Email
                </label>
                <input
                  class="w-full text-neutrals-dark leading-tight inputColor focus:outline-none"
                  type="email"
                  name="email"
                  id="email"
                  value="john.smith@example.com"
                  required
                />
              </div>

              <div
                class="mb-4 py-2 px-4 rounded-t-lg inputColor border-b-2 border-neutrals-mountainMist-dark lg:text-sm text-xs"
              >
                <label class="block text-neutrals-dark font-bold mb-2 text-left" for="password">
                  Password
                </label>
                <input
                  class="w-full text-neutrals-dark leading-tight inputColor focus:outline-none"
                  id="password"
                  name="password"
                  type="password"
                  value="f00B@r!23"
                />
              </div>
              <div class="flex items-center justify-center">
                <button
                  class="flex items-center justify-center gradient rounded-md mb-8 h-10 px-8 shadow-lg"
                  type="submit"
                  id="accept"
                  onclick="signIn()"
                >
                  <span class="flex-0 text-neutrals-white" id="btn_text">Sign in</span>
                  <svg
                    class="absolute animate-spin hidden"
                    width="24"
                    height="24"
                    id="spinner"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g
                      transform="translate(2 2)"
                      stroke="#FFF"
                      stroke-width="3"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <circle opacity=".3" cx="10" cy="10" r="10" />
                      <path
                        d="M20 10c0-5.523-4.477-10-10-10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="https://randojs.com/1.0.0.js"></script>
    <script type="application/javascript">
      var randomemailprefix = 'john.smith';
      var randomemailsuffix = '@example.com';
      var randomnumber = rando(1000000, 100000000);

      function setRandomEmail() {
        document.getElementById('email').value =
          randomemailprefix + randomnumber + randomemailsuffix;
      }

      function signIn() {
        document.getElementById('btn_text').style.visibility = 'hidden';
        document.getElementById('spinner').style.display = 'block';
        document.getElementById('login_form').action = '/login';
      }
    </script>
  </body>
</html>
