<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <link rel="icon" type="images/x-icon" href="img/logo.png" >
    <title>Login Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

    <style>
        .gradient {
            background:linear-gradient(-180deg, #8631a0 0%, #360b4c 100%);
        }
        .inputColor{
            background-color: #eeeaee
        }
    </style>

</head>

<body class="leading-normal tracking-normal text-white" style="background-color: #f4f1f5;">
<section class="py-48">
    <p class="text-black text-2xl text-center font-bold">Demo Sign In</p>
    <div class="container mx-auto flex flex-wrap h-auto lg:w-1/3 w-full">
        <div class="w-full flex flex-col flex-grow flex-shrink">
            <div class="flex-none mt-auto rounded-b rounded-t-none overflow-hidden">
                <div class="flex items-center p-14 justify-center">
                    <form class="bg-white shadow-xl rounded-xl lg:px-11 sm:px-11 px-4 pt-8
                    md:flex-wrap md:justify-between w-screen h-auto" action="/login" method="post">
                        <input type="hidden" name="challenge" value="{{.login_challenge}}">

                        <div class="mb-4 py-2 px-4 rounded-t-lg inputColor border-b-2 border-gray-500 lg:text-sm text-xs">
                            <label class="block text-gray-700 font-bold mb-2 text-left" for="email">
                                Email
                            </label>
                            <input class="w-full text-gray-700 leading-tight inputColor
                        focus:outline-none" type='email' name='email' id='email' id="email" value="john.smith@example.com" required>
                        </div>

                        <div class="mb-4 py-2 px-4 rounded-t-lg inputColor border-b-2 border-gray-500 lg:text-sm text-xs">
                            <label class="block text-gray-700 font-bold mb-2 text-left" for="password">
                                Password
                            </label>
                            <input class="w-full text-gray-700 leading-tight inputColor focus:outline-none"
                    id="password" name='password' type="password" value="f00B@r!23">
                        </div>

                        <div class="flex items-center justify-center">
                            <button class="gradient text-sm sm:text-xs rounded-md text-white mb-8 h-10 px-8 shadow-lg" type='submit' id="accept" name='btn_login'>
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>

